body {
background-color: pink;
color: pink;
}

.card-largura {
width: 18rem;
}

.imagem-carrossel1 {
object-fit: cover;
object-position: 0 70%;
height: 500px;
}

.imagem-carrossel2 {
object-fit: cover;
object-position: 0 70%;
height: 500px;
        
}

.imagem-carrossel3 {
object-fit: cover;
object-position: 0 70%;
height: 500px;
            
}

.fonte-titulo {

font-family: 'Pacifico', cursive;
}

.cor-especial {
color: darkred;
}

.botao-cor-especial {
background-color: darkred;
color: white;
}

.borda-cor-especial {
border-color: darkred;
}

.carde-posicao-imagem {
object-fit: cover;
height: 200px;    
}


