.card-largura {
max-width: 18rem;
}

.imagem-carrossel1 {
object-fit: cover;
object-position: 0 70%;
height: 500px;
}

.imagem-carrossel2 {
object-fit: cover;
object-position: 0 70%;
height: 500px;
        
}

.imagem-carrossel3 {
object-fit: cover;
object-position: 0 70%;
height: 500px;
            
}

.fonte-titulo {
font-family: 'Pacifico', cursive;
}

.cor-especial {
color: palevioletred;
}

.botao-cor-especial {
background-color: palevioletred;
color: white;
}

.borda-cor-especial {
border-color: palevioletred;
}

.card-posicao-imagem {
object-fit: cover;
height: 200px;    
}

.card-img-top {
object-fit: cover;
object-position: center;
height: 200px;
border: 2px solid palevioletred;
}

.imagem-carrosel1,
.imagem-carrossel2,
.imagem-carrosel3 {
  object-fit: cover;
  object-position: center;
  height: 500px;
}


